{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">

            <h6>Product List</h6>
        
            <ul>
              {% for product in products %}
                <li>
                  <h3>{{ product.name }}</h3>
                  <p>{{ product.description }}</p>
                  <p>Price: ${{ product.price }}</p>
                  {% if product.thumbnail %}
                    <img src="{{ product.thumbnail.url }}" alt="{{ product.name }} thumbnail">
                  {% endif %}
                </li>
              {% empty %}
                <p>No products available.</p>
              {% endfor %}
            </ul>
          </div>
    
          
        </div>
      </div>
    </div>


    {% include 'includes/footer.html' %}
  </div>
{% endblock content %}
